.card {
  width: 100%;
  max-width: 400px;
  height: 100%;
  min-height: 140px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  cursor: pointer;

  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .icon {
      padding: 1rem;
    }

    .card-content {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .card-title {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--primary);
        margin-bottom: 0.5rem;
      }
    }
  }
}
