section {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  padding: 1rem 0;

  a {
    color: var(--primary-light);

    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      color: var(--primary);
      text-decoration: underline;
    }
  }
}

.post-card {
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

  .post-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .post-body {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .post-user {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 1.5rem;
    color: var(--primary-light);

    .author {
      padding: 0.25rem 0.5rem;
      background-color: var(--primary-light);
      color: var(--primary-text);
    }
  }

  .tags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;

    .tag {
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      background-color: var(--grey-100);
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}
