<section>
  <a routerLink="/">Home Page</a>
</section>

<div class="post-card">
  <div class="post-body">
    <h5 class="post-title">{{ postDetail?.title }}</h5>
    <p class="post-description">{{ postDetail?.description }}</p>
  </div>
  <div class="post-user">
    <span class="author">{{ postDetail?.author }}</span>
    <p class="date">{{ postDetail?.date | date : "dd MMMM yyyy" }}</p>
  </div>
  <div class="tags">
    <span *ngIf="postDetail?.tags?.length! > 0">Tags: </span>
    <span *ngFor="let tag of postDetail?.tags" class="tag">{{ tag }}</span>
  </div>
</div>
