.post-card {
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .post-user {
    display: flex;
    margin-top: 1.5rem;
    img {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      border-radius: 50%;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;

      h5 {
        font-size: 0.9rem;
        color: gray;
        font-weight: 500;
      }

      .author {
        font-size: 0.85rem;
        color: #000;
        font-weight: 700;
      }
    }
  }
}
